<script setup lang="ts">
const colorMode = useColorMode()
const { success } = useAlert()
function changeTheme() {
  colorMode.preference = colorMode.value === 'light' ? 'dark' : 'light'
}
function showAlert() {
  success({
    title: 'Base alert!',
    text: 'This is success!',
  })
}
const isShowModal = ref(false)
function showModal() {
  isShowModal.value = !isShowModal.value
}
</script>

<template>
  <div class="dark:bg-header flex h-screen justify-center items-center font-fontDefault">
    <div class="text-center">
      <h1 class="text-2xl text-blue-500">
        Web-User
      </h1>
      <div>
        <h1 class="dark:text-danger">
          Color mode: {{ $colorMode.value }}
        </h1>
        <h1 class="dark:text-danger">
          {{ $t('ms_01_ph_se_name') }}
        </h1>
        <button
          class="inline-block text-sm px-4 py-2 leading-none border rounded border-white hover:border-transparent mt-4 lg:mt-0 dark:bg-red bg-danger"
          @click="changeTheme"
        >
          <UIcon v-show="$colorMode.value === 'dark'" name="heroicons:moon-16-solid" />
          <UIcon v-show="$colorMode.value === 'light'" name="heroicons:light-bulb" />
          <UIcon name="local:anchor" />
        </button>
      </div>
      <button class="inline-block mt-4 p-2 text-center bg-gray-300 rounded" @click="showAlert">
        Alert
      </button>
      <UButton @click="showModal">
        Open modal
      </UButton>
      <EcBaseModal v-model="isShowModal" class="w-80 bg-gray-300 text-left p-4">
        <div class="font-bold">
          This is a base modal.
        </div>
        <div class="text-xs">
          Click outside to close!
        </div>
        <div class="text-right">
          <button class="text-xs" @click="isShowModal = !isShowModal">
            close
          </button>
        </div>
      </EcBaseModal>
      <EcBaseTestPinia class="mt-10" />
    </div>
  </div>
</template>

<style scoped lang="scss">
body{
  background: red;
}
</style>
