<script lang="ts" setup>
const { $oryAuth } = useNuxtApp()

const user = ref({
  email: '',
  password: '',
})

const userInfo = ref({})
const session = ref(false)

async function login() {
  try {
    const res = await $oryAuth.login(user.value.email, user.value.password)
    userInfo.value = res.data.session.id
  }
  catch (e) {
    throw new Error('Login is failed!')
  }
}

async function logout() {
  $oryAuth.logout()
}

async function getSession() {
  try {
    const res = await $oryAuth.getSession()
    session.value = res.data.active
  }
  catch (e) {
    throw new Error('Get session is failed!')
  }
}
</script>

<template>
  <div>
    <div class="d-flex flex-col container form p-2">
      <div>
        *NOTE: DON'T DO THIS IN PRODUCTION!<br>
        - Test with local kratos server<br>
        - Must be update SERVE_PUBLIC_CORS_ALLOWED_ORIGINS variable in .env file<br>
      </div>
      <div class=" my-4 w-[250px]">
        <label for="uname"><b>Email:    </b></label>
        <UInput
          v-model="user.email"
          type="text"
          class="input"
          placeholder="Enter email"
          name="uname"
          required
        />
      </div>
      <div class="my-4 w-[250px]">
        <label for="psw"><b>Password:   </b></label>
        <UInput
          v-model="user.password"
          type="password"
          class="input"
          placeholder="Enter Password"
          name="psw"
          required
        />
      </div>

      <UButton class="button mr-2" @click.prevent="login">
        Login
      </UButton>
      <UButton class="button bg-utility-error-700 mr-2" @click.prevent="logout">
        Logout
      </UButton>
      <UButton class="button bg-utility-warning-500" @click.prevent="getSession">
        getSession
      </UButton>
      <hr class="my-3">
      <div>User info: {{ userInfo }}</div>
      <hr class="my-3">
      <div>Session: {{ session }}</div>
    </div>
  </div>
</template>
