<script setup lang="ts">
definePageMeta({ layout: 'blank' })
useSeoMeta({
  title: 'Template',
})
const colorMode = useColorMode()
function changeTheme() {
  colorMode.preference = colorMode.value === 'light' ? 'dark' : 'light'
}
const menus = [
  {
    name: 'Button',
    id: 'button',
  },
  {
    name: 'Badge',
    id: 'badge',
  },
  {
    name: 'Tooltip',
    id: 'tooltip',
  },
  {
    name: 'Dropdown',
    id: 'dropdown',
  },
  {
    name: 'Input',
    id: 'input',
  },
  {
    name: 'Form',
    id: 'form',
  },
  {
    name: 'Toggle',
    id: 'toggle',
  },
  {
    name: 'Pagination',
    id: 'pagination',
  },
  {
    name: 'Tabs',
    id: 'tabs',
  },
  {
    name: 'Input menu',
    id: 'input-menu',
  },
  {
    name: 'Table',
    id: 'table',
  },
  {
    name: 'Date Range Picker',
    id: 'date range picker',
  },
]
</script>

<template>
  <div>
    <header class="px-4 fixed top-0">
      <UButton
        class="inline-block text-sm px-4 py-2 leading-none border rounded border-white hover:border-transparent mt-4 lg:mt-0"
        @click="changeTheme"
      >
        <UIcon v-show="$colorMode.value === 'dark'" name="heroicons:moon-16-solid" />
        <UIcon v-show="$colorMode.value === 'light'" name="heroicons:sun-16-solid" />
      </UButton>
      <div class="py-4 w-32 flex flex-col space-y-4">
        <NuxtLink v-for="item in menus" :key="item.id" :to="`#${item.id}`" class="hover:underline">
          # {{ item.name }}
        </NuxtLink>
      </div>
    </header>
    <div class="base grid grid-cols-[100px, 1fr]">
      <div />
      <UContainer class="p-4">
        <div class="py-4">
          <b class="text-xl mr-4 pb-4">TEMPLATE</b>
          <div class="flex font-bold">
            All style default in base component using color name is
            <span class="mx-1 font-bold text-brand-500">Brand</span>
          </div>
          <hr class="my-2">
          <BasePreviewPalette />
        </div>
        <hr class="my-2">
        <div class="h-10 w-20 bg-utility-brand-50" />
        <hr class="my-2">
        <div class="flex flex-col space-y-4">
          <BasePreviewButton />
          <hr>
          <BasePreviewBadge />
          <hr>
          <BasePreviewTooltip />
          <hr>
          <BasePreviewDropdown />
          <hr>
          <BasePreviewInput />
          <hr>
          <BasePreviewForm />
          <hr>
          <BasePreviewPagination />
          <hr>
          <BasePreviewTabs />
          <hr>
          <BasePreviewInputMenu />
          <hr>
          <BasePreviewTable />
          <hr>
          <BasePreviewTableCustom />
          <hr>
          <BasePreviewDateRangePicker />
        </div>
      </UContainer>
    </div>
  </div>
</template>

<style scoped lang="scss">
.base {
  scroll-behavior: smooth;
}
</style>
