<script lang="ts" setup>
const { $client } = useNuxtApp()

onMounted(async () => {
  await $client.bring.comico.episode.getById.useQuery(4234234)
  // const { data } = $client.bring.comico.auth.login.useQuery({
  //   username: 'YCOMM1@editor.com',
  //   password: 'YCOMM1234!',
  // })
  // console.log(data)
})
</script>

<template>
  Hello tRPC
</template>
