<script lang="ts" setup>
</script>

<template>
  <div>
    <h1 class="text-danger">
      Home: Web-Base
      {{ $t('ms_01_ph_se_name') }}
    </h1>
    <base-test-base v-bind="{ testingProps }" />
    <UButton>button</UButton>
  </div>
</template>
