<script setup lang="ts">
import { DatePicker as VCalendarDatePicker } from 'v-calendar'
import 'v-calendar/dist/style.css'

interface IProps<T> {
  modelValue: T | null
}

interface IEmits<T> {
  (e: 'update:model-value', value: T): void
  (e: 'close'): void
}
const props = defineProps <IProps<any>>()
const emits = defineEmits<IEmits<any>>()

const date = computed({
  get: () => props.modelValue,
  set: (value) => {
    emits('update:model-value', value)
    emits('close')
  },
})
</script>

<template>
  <VCalendarDatePicker v-if="date && (typeof date === 'object')" v-model.range="date" :columns="2" v-bind="{ ...$attrs }" />
  <VCalendarDatePicker v-else v-model="date" v-bind="{ ...$attrs }" />
</template>
