<script lang="ts" setup>
import { useLocaleFilter } from '~/api/hooks/translate-controller/translate-controller'

const { data, error, isError, isLoading } = useLocaleFilter()
</script>

<template>
  <div>
    {{ data }}
    {{ error }}
    <p>isLoading: {{ isError }}</p>
    <p>isError: {{ isLoading }}</p>
  </div>
</template>
