<script setup lang="ts">
interface IProps {
  testingProps: string[]
}
export interface IItem {
  name: string
}
defineProps<IProps>()
const items = ref<IItem[]>([])

onMounted(async () => {
  items.value = [...await getTestingList()]
})

async function getTestingList(): Promise<IItem[]> {
  return new Promise(resolve => resolve([{ name: 'item1' }, { name: 'item2' }]))
}
</script>

<template>
  <div>
    <h1>Web-Base check</h1>
    <svg-back-arrow />
    <div v-for="item in items" :key="item.name" class="item">
      {{ item }}
    </div>
  </div>
</template>

<style scoped>

</style>
