<script lang="ts" setup>
import { ref } from 'vue'

const store = useTestStore()

const counter = ref<number>(store.counter)
const name = ref<string>(store.name)

const doubleCounter = ref<number>(store.doubleCount)
const doubleCounterPlusOne = ref<number>(store.doubleCounterPlusOne())

const btnClick = ref(() => {
  store.reset()
  counter.value = store.counter
  doubleCounter.value = store.doubleCount
  doubleCounterPlusOne.value = store.doubleCounterPlusOne()
})

const btnCalculate = ref(() => {
  store.counter++
  counter.value = store.counter
  doubleCounter.value = store.doubleCount
  doubleCounterPlusOne.value = store.doubleCounterPlusOne()
})
</script>

<template>
  <div>
    <h1 class="text-danger">
      Test Pinia
    </h1>
    <button class="inline-block text-sm px-4 py-2 leading-none border rounded border-white hover:border-transparent mt-4 lg:mt-0 bg-pink" @click="btnCalculate">
      Counter: {{ counter }}
    </button>
    <p>Name: {{ name }}</p>
    <p>
      Double Counter: {{ doubleCounter }}
    </p>
    <p>
      Double Counter Plus One: {{ doubleCounterPlusOne }}
    </p>
    <button @click="btnClick">
      Reset Counter
    </button>
  </div>
</template>
