<script  setup lang="ts">
export interface Menu {
  icon: string
  title: string
  to: string
  children?: {
    title: string
    to: string
  }[]
}

const isCollapsed = ref(false)
const toggleSidebar = () => (isCollapsed.value = !isCollapsed.value)

const SIDEBAR_WIDTH = 280
const SIDEBAR_WIDTH_COLLAPSED = 80
const sidebarWidth = computed(
  () => `${isCollapsed.value ? SIDEBAR_WIDTH_COLLAPSED : SIDEBAR_WIDTH}px`,
)

const menu = [
  {
    icon: 'heroicons:folder-minus',
    title: 'Series',
    to: '/series',
  },
  {
    icon: 'heroicons:users-20-solid',
    title: 'System',
    to: '/system',
  },
  {
    icon: 'heroicons:chart-pie-20-solid',
    title: 'Statistic1',
    children: [
      { title: 'Groups', to: '/statistic/group' },
      { title: 'Series', to: '/statistic/series' },
      { title: 'Episodes', to: '/statistic/episodes' },
      { title: 'Downloads', to: '/statistic/downloads' },
    ],
  },
  {
    icon: 'heroicons:document-text',
    title: 'Glossaries',
    to: '/glossaries',
  },
  {
    icon: 'heroicons:chart-pie-20-solid',
    title: 'Statistic2',
    children: [
      { title: 'Groups', to: '/statistic/group' },
      { title: 'Series', to: '/statistic/series' },
      { title: 'Episodes', to: '/statistic/episodes' },
      { title: 'Downloads', to: '/statistic/downloads' },
    ],
  },
]
</script>

<template>
  <div
    class="sidebar"
    :class="{ collapsed: isCollapsed }"
    :style="{ width: sidebarWidth }"
  >
    <!-- Header -->
    <div :class="{ 'flex-col gap-y-6': isCollapsed }" class="flex flex-row justify-between items-center">
      <div class="flex items-center gap-x-3">
        <UIcon name="local-color:app-logo" width="32" height="32" />
        <span v-show="!isCollapsed" class="text-lg text-bold">ECHOMAKR</span>
      </div>
      <UIcon name="local-color:sidebar-arrow" width="20" height="20" class="collapse-icon" :class="{ 'rotate-180': isCollapsed }" @click="toggleSidebar" />
    </div>

    <UDivider />

    <LayoutSidebarMenu :menu="menu" :is-collapsed="isCollapsed" />
  </div>
</template>

<style scoped lang="scss">
.sidebar {
  color: #667085;
  background-color: theme('colors.gray.50');
  z-index: 1;
  padding: 24px;

  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 32px;

  .collapse-icon {
    transition: 0.2s linear;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
}
.sidebar.collapsed {
  padding: 24px 16px;
}
</style>
