<script lang="ts" setup>
interface Props {
  icon: string
  title: string
  to: string
  isCollapsed: boolean
  isChild?: boolean
}
withDefaults(defineProps<Props>(), {
  isChild: false,
})
</script>

<template>
  <span v-if="!to" class="menu-link">
    <UIcon v-if="icon" :name="icon" width="24" height="24" />
    <span v-show="!isCollapsed">{{ title }}</span>
  </span>

  <router-link v-else :to="to" class="menu-link">
    <UIcon v-if="icon" :name="icon" width="24" height="24" />
    <span v-show="isChild || !isCollapsed">{{ title }}</span>
  </router-link>
</template>

<style scoped>
.menu-link {
  @apply w-full px-3 py-3 flex items-center gap-x-2 hover:bg-gray-600 rounded
}
</style>
