<script lang="ts" setup>
import type { Menu } from './index.vue'

interface Props {
  menu: Menu[]
  isCollapsed: boolean
}
defineProps<Props>()
</script>

<template>
  <ul>
    <li v-for="item in menu" :key="item.title" class="cursor-pointer">
      <LayoutSidebarMenuLink v-show="!item.children" :icon="item.icon" :title="item.title" :is-collapsed="isCollapsed" :to="item.to" />

      <!-- Children menu -->
      <div v-show="item.children">
        <!-- Children menu when sidebar expanded -->
        <HeadlessDisclosure v-show="!isCollapsed" as="div">
          <HeadlessDisclosureButton as="div" class="parent-menu-link">
            <LayoutSidebarMenuLink :is-collapsed="isCollapsed" :icon="item.icon" :title="item.title" />
          </HeadlessDisclosureButton>
          <HeadlessDisclosurePanel as="div" class="pl-10">
            <LayoutSidebarMenuLink
              v-for="child in item.children"
              :key="child.title"
              :is-collapsed="isCollapsed"
              :title="child.title"
              :to="child.to"
              :is-child="true"
            />
          </HeadlessDisclosurePanel>
        </HeadlessDisclosure>

        <!-- Children menu when sidebar collapsed -->
        <div v-show="isCollapsed">
          <HeadlessMenu as="div" class="relative">
            <HeadlessMenuButton as="div" class="parent-menu-link">
              <LayoutSidebarMenuLink :is-collapsed="isCollapsed" :icon="item.icon" :title="item.title" />
            </HeadlessMenuButton>
            <HeadlessMenuItems as="div" class="fly-menu focus-visible:outline-none">
              <HeadlessMenuItem v-for="child in item.children" :key="child.title" as="div">
                <LayoutSidebarMenuLink
                  :is-collapsed="isCollapsed"
                  :title="child.title"
                  :to="child.to"
                  :is-child="true"
                />
              </HeadlessMenuItem>
            </HeadlessMenuItems>
          </HeadlessMenu>
        </div>
      </div>
    </li>
  </ul>
</template>

<style lang="scss">
.parent-menu-link {
  @apply flex items-center gap-x-2;
}
.fly-menu {
  position: absolute;
  top: -50%;
  left: 68px;
  padding: 4px;
  background-color: theme('colors.gray.50');
  border-radius: 4px;
}
</style>
