<script setup lang="ts">
const { show } = useAlert()
function showAlert() {
  show({
    title: 'Base alert!',
  })
}
</script>

<template>
  <div>
    <h1>Web-Admin</h1>
    <button class="inline-block mt-4 p-2 text-center bg-gray-300 rounded" @click="showAlert">
      Alert
    </button>
    <base-test-base />
  </div>
</template>
